<div>
  <md-toolbar layout="row" style="background:white; position:fixed; top:0px">
    <div class="md-toolbar-tools" layout-align-gt-sm="left">
      <a ui-sref='home'><img src="app/assets/img/tango_logo.svg"></a>
    </div>
    <md-button flex='15' ng-click="showRecentGigs()" style='color:black' ng-controller="gigsCtrl">BROWSE</md-button>
    <md-button flex='15' ng-click="signup($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Signup</md-button>
    <md-button flex='15' ng-click="login($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Login</md-button>
    <md-button flex='15' ng-click="showGridBottomSheet($event)" ng-controller="loginCtrl" ng-if="loggedIn" style='color:black'>My Profile</md-button>
  </md-toolbar>

  <div style="margin-left: 40%; margin-top: 10%; width: 320px; height: 300px;">
    <form name='resetPassword'>
      <h3 style='color:#4bae4e; margin-left:4%'>Please enter your new password</h3>
      <md-input-container class="md-icon-float" style="margin-top: 0.03em;">
        <label>Password</label>
        <input ng-model="newPassword1" type="password" ng-required="true">
      </md-input-container>
      <md-input-container class="md-icon-float" style="margin-top: 0.03em;">
        <label>Repeat Password</label>
        <input ng-model="newPassword2" type="password" ng-required="true">
      </md-input-container>
      <md-button flex ng-disabled="resetPassword.$invalid" ng-click="savePassword(token, newPassword1)" class="md-raised md-primary md-hue-2" style='margin-left:35%; background:#4bae4e; color:white'>
        Submit
      </md-button>
    </form>
    <h3 ng-if="loginMessage" style='color:#4bae4e;'>Your Password has been changed, proceed to login</h3>
    <h3 ng-if="passwordError" style='color:#4bae4e;'>Make sure both passwords match</h3>
    </div>
</div>
