<div>
  <div>
    <md-toolbar layout="row" style="background:white; position:fixed; top:0px">
      <div class="md-toolbar-tools" layout-align-gt-sm="left">
        <a ui-sref='home'><img src="app/assets/img/tango_logo.svg"></a>
      </div>
      <md-button flex='15' ng-click="showHelp()" style='color:black' ng-controller='helpCtlr'>How IT WORKS</md-button>
      <md-button flex='15' ng-click="signup($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Signup</md-button>
      <md-button flex='15' ng-click="login($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Login</md-button>
      <md-button flex='15' ng-click="showGridBottomSheet($event)" ng-controller="loginCtrl" ng-if="loggedIn" style='color:black'>My Profile</md-button>
      <md-button flex='15' ng-click="postGig()" style="background: green; border-radius:5px" ng-controller="gigsCtrl">POST A GIG</md-button>
    </md-toolbar>
  </div>
  <form name='editUserForm' style=margin-top:80px>
    <h3 ng-if='signupError'>Email or username already Taken</h3>
    <md-input-container class="md-icon-float" style="margin-top: 0.03em;">
      <label>Email</label>
      <input ng-model="userData.email" type="text" ng-required="true">
    </md-input-container>
    <md-input-container class="md-icon-float" style="margin-top: 0.03em;">
      <label>Username</label>
      <input ng-model="userData.username" type="text" ng-required="true">
    </md-input-container>
    <md-input-container class="md-icon-float" style="margin-top: 0.03em;">
      <label>Password</label>
      <input ng-model="userData.password" type="password" ng-required="true">
    </md-input-container>
    <!--     <md-progress-linear md-mode="indeterminate" ng-hide="hideProg" class="md-primary"></md-progress-linear>
 -->
    <md-button class="md-raised md-primary" ng-disabled="editUserForm.$invalid" ng-click="editUser(userData._id, userData)" style="background: green; border-radius:5px; color:white">Save Changes</md-button>
  </form>
</div>
