<div>
    <md-toolbar layout="row" style="background:white; position:fixed; top:0px">
        <div class="md-toolbar-tools" layout-align-gt-sm="left">
            <a ui-sref='home'><img src="app/assets/img/tango_logo.svg"></a>
        </div>
        <md-button flex='15' ng-click="showRecentGigs()" style='color:black' ng-controller="gigsCtrl">BROWSE</md-button>
        <md-button flex='15' ng-click="signup($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Signup</md-button>
        <md-button flex='15' ng-click="login($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Login</md-button>
        <md-button flex='15' ng-click="showGridBottomSheet($event)" ng-controller="loginCtrl" ng-if="loggedIn" style='color:black'>My Profile</md-button>
    </md-toolbar>
    <div layout="row" style="background: url('app/assets/img/header.jpg'); background-size: cover; color: #fff; background-repeat: repeat-x; height:15em; width:100%">
    </div>
    <div style='text-align: center;'>
        <div>
            <div>
                <h2 style="color:green">POST A GIG</h2>
            </div>
            <div ng-controller="gigsCtrl">
                <form name='addGigForm' enctype="multipart/form-data">
                    <label>What do you want to do?</label>
                    <md-input-container class="md-icon-float" style="width: 50%; margin: 0 auto">
                        <label>Gig Title</label>
                        <input ng-model="gig.title" type="text" ng-required="true">
                    </md-input-container>
                    <label>How many days will this take you?</label>
                    <md-select placeholder="Duration" ng-model="gig.duration" ng-required="true" style="width: 10%; margin: 0 auto">
                        <md-option ng-repeat="duration in [1,2,3,4,5,6,7]" value="{{duration}}">{{duration}} {{duration===1 ? "day":"days"}}</md-option>
                    </md-select>
                    <label>Select the category in which your gig falls in</label>
                    <md-select placeholder="Category" ng-model="gig.category" style="width: 10%; margin: 0 auto">
                        <md-option ng-repeat="category in categories" value="{{category._id}}">{{category.name}}</md-option>
                    </md-select>
                    <label>Tell us in details what you have to offer. Be as descriptive as possible.</label>
                    <md-input-container class="md-icon-float" style="width: 50%; margin: 0 auto">
                        <label>Description</label>
                        <div style='padding-top:1em'>
                            <textarea ng-model="gig.description" ng-required="true" style='width:100%'></textarea>
                        </div>
                    </md-input-container>
                    <!-- <md-input-container  class="md-icon-float" style="margin-top: 0.03em;"> -->
                    <label>Upload a picture that describes or relates to your Gig. It can be a sample of your work</label>
                    <div>
                        <input type="file" ngf-select="true" ng-model="gig.image" ngf-change="fileSelected($files, $event)" />
                    </div>
                    <!-- </md-input-container> -->
                    <br>
                    <label>Mind telling us where you intend to offer this service from? This is not compulsory, it's a free world...</label>
                    <div layout='row'>
                        <md-input-container class="md-icon-float" style="width: 50%; margin: 0 auto">
                            <label>Address</label>
                            <div style='padding-top:1em'>
                                <textarea ng-model="gig.address" ng-required="false" style='width:100%'></textarea>
                            </div>
                        </md-input-container>
                    </div>
                    <md-button class="md-raised md-primary" ng-disabled="addGigForm.$invalid" ng-click="doAdd(gig)" style="background: green; border-radius:5px; color:white">POST!</md-button>
                </form>
            </div>
        </div>
    </div>
</div>
