<div>
  <div ng-controller="gigsCtrl">
    <div ng-repeat='gig in gigs' style="background:white; padding-left:2em">
      <md-card style="margin-left: 10px; width: 300px; height: 350px; float: left;">
        <img width="235.516" height="220" ui-sref="gigDetail({gigid: gig._id})" style="cursor:pointer" ng-src="{{gig.imageUrl}}" >
        <md-card-content style="background:white">
          <h3 style="font-weight: 400; font-size: 16px">{{gig.title}}</h3>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
