<div flex style='margin-left:20px'>
  <div>
    <h2 style='margin-left: 20px; color:black' flex='40' ng-controller="gigsCtrl">{{groupCategoryName}}</h2>
  </div>
  <div ng-controller="gigsCtrl">
    <h4 style='margin-left: 40px; color:black' flex='40' ng-if="isempty">No gigs in this category</h4>
    <div ng-repeat='gig in gigs' style="background:white; padding-left:2em">
      <md-card style="margin-left: 10px; width: 300px; height: 400px; float: left; cursor:pointer" ui-sref="gigDetail({gigid: gig._id})">
        <img ng-src="{{gig.imageUrl}}" width="235.516" height="220">
        <md-card-content style="background:white">
          <h3 style="font-weight: 400; font-size: 16px">{{gig.title}}</h3>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
