<div ng-controller="categoryController">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <h1 class="md-toolbar-tools" layout='center center'>Categories</h1>
    <md-list ng-repeat="category in categories">
      <md-list-item>
        <p ui-sref="checkCategory({catid: category._id})">
          <md-icon md-svg-src="{{category.iconLink}}" style='color:#00f'></md-icon>{{category.name}}
          <md-switch class="md-secondary" ng-model="cat.stat" ng-init="neew"></md-switch>
        </p>
      </md-list-item>
    </md-list>
  </md-sidenav>
</div>
