<div>
  <md-toolbar layout="row">
    <div class="md-toolbar-tools" layout-align-gt-sm="left"><b style='font-size:50px'>Tango</b></div>
    <div ng-if="loggedIn">Hello {{user.username}}</div>
    <md-button flex='15' ng-click="login($event)" ng-controller="loginCtrl"  ng-if="!loggedIn">Login</md-button>
    <md-button flex='15' ng-click="logout($event)" ng-controller="loginCtrl" ng-if="loggedIn">Logout</md-button>
    <md-button flex='15' ng-click="signup($event)" ng-controller="loginCtrl" ng-if="!loggedIn">Signup</md-button>
  </md-toolbar>


  <div ng-controller="gigDetailCtrl" style='width:700px'>
    <md-content class="md-padding" flex>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="gist">
          <md-content class="md-padding">
            <h1 class="md-display-2">Gig Gist</h1>
            <img ng-src={{gigInfo.imageUrl}} width="470" height="440">
            <h3>{{gigInfo.title}}</h3>
            <h4>Categoy: {{gigInfo.category.name}}</h4>
            <p>Added by: {{gigInfo.addedBy.username}}</p>
            <p>Duration: {{gigInfo.duration}} Days</p>
          </md-content>
        </md-tab>
        <md-tab label="description">
          <md-content class="md-padding">
            <h1 class="md-display-2">Gig Description</h1>
            <div>{{gigInfo.description}}</div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>

</div>
