<div>
  <md-toolbar layout="row" style="background:white; position:fixed; top:0px">
    <div class="md-toolbar-tools" layout-align-gt-sm="left"><a ui-sref='home'><img src="app/assets/img/tango_logo.svg"></a></div>
    <md-button flex='15' ng-click="showHelp()" style='color:black' ng-controller='helpCtlr'>How IT WORKS</md-button>
    <md-button flex='15' ng-click="signup($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Signup</md-button>
    <md-button flex='15' ng-click="login($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Login</md-button>
    <md-button flex='15' ng-click="showGridBottomSheet($event)" ng-controller="loginCtrl" ng-if="loggedIn" style='color:black'>My Profile</md-button>
    <md-button flex='15' ng-click="postGig()" style="background: green; border-radius:5px" ng-controller="gigsCtrl">POST A GIG</md-button>
  </md-toolbar>

  <div layout="row" style="background: url('app/assets/img/header.jpg'); background-size: cover; color: #fff; background-repeat: repeat-x; height:15em; width:89em">
  </div>
  <div layout="row">
    <div ng-controller="categoryController">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <h1 class="md-toolbar-tools" layout='center center'>Categories</h1>
            <md-list ng-repeat="category in categories">
                <md-list-item>
                    <p>
                        <md-icon md-svg-src="{{category.iconLink}}" style='color:#00f'></md-icon>{{category.name}} </p>
                    <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
                </md-list-item>
            </md-list>
        </md-sidenav>
    </div>

    <div flex style='margin-left:20px'>
        <div >
            <h2 style='margin-left: 20px; color:black' flex='40'>RECENTLY ADDED </h2>
        </div>

        <div ng-controller="gigsCtrl">
          <div  ng-repeat='gig in gigs' style="background:white;">
              <md-card style="margin-left: 10px; width: 330px; float: left;">
                  <img ng-src="{{gig.imageUrl}}" width="235.516" height="220">
                  <md-card-content style="background:white">
                      <h2 class="md-title">{{gig.title}}</h2>
                     <p>{{(gig.description).substring(0, 50) + '...'}}</p>
                  </md-card-content>
                  <div class="md-actions" layout="row" layout-align="end center" style="background:white">
                      <md-button ui-sref="gigDetail({gigid: gig._id})">View Details</md-button>
                  </div>
              </md-card>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
