<div>
    <md-toolbar layout="row" style="background:white">
      <div class="md-toolbar-tools" layout-align-gt-sm="left"><img src="app/assets/img/tango_logo.svg"></div>
      <md-button flex='15' ng-click="" style='color:black'>BROWSE</md-button>
      <md-button flex='15' ng-click="showHelp()" style='color:black' ng-controller='helpCtlr'>How IT WORKS</md-button>
      <md-button flex='15' ng-click="signup($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Signup</md-button>
      <md-button flex='15' ng-click="login($event)" ng-controller="loginCtrl"  ng-if="!loggedIn" style='color:black'>Login</md-button>
      <md-button flex='15' ng-click="logout($event)" ng-controller="loginCtrl" ng-if="loggedIn" style='color:black'>Logout [{{user.username}}]</md-button>
      <md-button flex='15'  ng-click="postGig()" style="background: green; border-radius:5px" ng-controller="gigsCtrl">POST A GIG</md-button>
    </md-toolbar>

   <div layout="row" style="background: url('app/assets/img/header.jpg'); background-size: cover; color: #fff; background-repeat: repeat-x; height:42em; width:89em">
      <div flex>
        <h1 class='md-display-3' layout-align="center center">
          <center style='color:white;';><b>Do the things you love<br>and make money while at it.<br></b></center>
        </h1>
        <h3 class="md-subhead" hide-sm>
          <center style='font-size:26px'> Somebody, somewhere is ready to pay you <b style='color:black'>&#8358;1000</b> for that unique skill of yours, whatever it is</center>
        </h3>
        <hr style='width: 50em'>
      </div>
   </div>


    <div layout="row">
      <div ng-controller="categoryController">
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <h1 class="md-toolbar-tools">Categories</h1>
        <md-list ng-repeat="category in categories">
          <md-list-item>
            <p> <md-icon md-svg-src="{{category.iconLink}}" style='color:#00f'></md-icon>{{category.name}} </p>

            <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
          </md-list-item>
        </md-list>
      </md-sidenav>
      </div>
    <div flex>
      <div layout="row">
        <h2 style='margin-left: 20px; color:green' flex='60'>RECENTLY ADDED GIGS</h2>
        <div flex='40'>
          <md-input-container>
            <label>Search Gigs</label>
            <input type='text'>
          </md-input-container>
        </div>
      </div>
      <div ng-controller="gigsCtrl">
      <!-- <md-list-item class="md-3-line" ng-repeat="gig in gigs">
        <p>{{gig.title}}</p>
        <p>{{gig.category}}</p>
        <p>{{gig.description}}</p>
        <p>{{gig.duration}}</p>
      </md-list-item> -->

        <md-grid-list md-cols-sm="1" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2"             md-gutter="12px" md-gutter-gt-sm="8px">

          <md-grid-tile  md-rowspan="2" md-colspan="2" md-colspan-sm="1" ng-repeat='gig in gigs'>
            <img ng-src="{{gig.imageUrl}}" width="235.516" height="220">
            <md-grid-tile-footer>
              <a ui-sref="gigDetail({gigid: gig._id})"><h3 style='color:green'><b>{{gig.title}}</b></h3></a>
            </md-grid-tile-footer>
          </md-grid-tile>
        </md-grid-list>

      </div>
    </div>
  </div>
  </div>
