<div>
  <md-toolbar layout="row" style="background:white">
    <div class="md-toolbar-tools" layout-align-gt-sm="left">
      <a ui-sref='home'><img src="app/assets/img/tango_logo.svg"></a>
    </div>
    <md-button flex='15' ng-click="showRecentGigs()" style='color:black' ng-controller="gigsCtrl">BROWSE</md-button>
    <md-button flex='15' ng-click="signup($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Signup</md-button>
    <md-button flex='15' ng-click="login($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Login</md-button>
    <md-button flex='15' ng-click="showGridBottomSheet($event)" ng-controller="loginCtrl" ng-if="loggedIn" style='color:black'>My Profile</md-button>
    <md-button flex='15' ng-click="postGig()" style="background: green; border-radius:5px" ng-controller="gigsCtrl">POST A GIG</md-button>
  </md-toolbar>
  <div style='margin-left: 20em; width: 50em' ng-controller='connectionCtrl'>
    <h3>Username</h3>
    <p>{{userData.username}}</p>
    <h3>Email</h3>
    <p>{{userData.email}}</p>
    <md-button style="background: green; border-radius:5px;margin-bottom:-13px" ng-show='user.username === userData.username' ng-href="#!/user/profile/{{user.username}}">VIEW GIGS</md-button>
    <md-button style="background: green; border-radius:5px;margin-bottom:-13px" ng-show='user.username === userData.username' ng-href="#!/connections">VIEW CONNECTIONS</md-button>
    <h3>Messages with {{connection.provider.username}}</h3>
    <!-- <div  ng-repeat='userGig in userGigs' style="background:white;"> -->
    <md-content>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="msg in messages">
          {{msg.user}} : {{msg.text}}
        </md-list-item>
      </md-list>
    </md-content>
    <input type="text" ng-model="text" />
    <md-button style="background: green; border-radius:5px;" ng-click="add(text)">SEND</md-button>
  </div>
  <!-- </div> -->
</div>
