<div>
  <md-toolbar layout="row" style="background:white">
    <div class="md-toolbar-tools" layout-align-gt-sm="left">
      <a ui-sref='home'><img src="app/assets/img/tango_logo.svg"></a>
    </div>
    <md-button flex='15' ng-click="showRecentGigs()" style='color:black' ng-controller="gigsCtrl">BROWSE</md-button>
    <md-button flex='15' ng-click="signup($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Signup</md-button>
    <md-button flex='15' ng-click="login($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Login</md-button>
    <md-button flex='15' ng-click="showGridBottomSheet($event)" ng-controller="loginCtrl" ng-if="loggedIn" style='color:black'>My Profile</md-button>
    <md-button flex='15' ng-click="postGig()" style="background: green; border-radius:5px" ng-controller="gigsCtrl">POST A GIG</md-button>
  </md-toolbar>
          <div layout="row" style="background: url('app/assets/img/header.jpg'); background-size: cover; color: #fff; background-repeat: repeat-x; height:15em; width:100%">
  </div>
  <div style='margin-left: 20em; width: 50em' ng-controller='connectionCtrl'>

    
    <h3>Messages with {{connection.requester.username}}</h3>
    <md-input-container>
      <input type="text" ng-model="message" ng-keydown="($event.keyCode===13) ? (message = add(message) ? '' : '') : false"/>
    </md-input-container>
    <md-button style="background: green; border-radius:5px;" ng-click="add(message); message=''">SEND</md-button>
    <md-content>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="msg in messages" style="background:gainsboro">
          <p><span class="md-title">{{msg.user}}</span> : {{msg.text}}</p>
        </md-list-item>
      </md-list>
    </md-content>
    
  </div>
  <!-- </div> -->

</div>
