<div>
  <md-toolbar layout="row" style="background:white; position:fixed; top:0px">
    <div class="md-toolbar-tools" layout-align-gt-sm="left">
      <a ui-sref='home'><img src="app/assets/img/tango_logo.svg"></a>
    </div>
    <md-button flex='15' ng-click="showRecentGigs()" style='color:black' ng-controller="gigsCtrl">BROWSE</md-button>
    <md-button flex='15' ng-click="signup($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Signup</md-button>
    <md-button flex='15' ng-click="login($event)" ng-controller="loginCtrl" ng-if="!loggedIn" style='color:black'>Login</md-button>
    <md-button flex='15' ng-click="showGridBottomSheet($event)" ng-controller="loginCtrl" ng-if="loggedIn" style='color:black'>My Profile</md-button>
  </md-toolbar>
  <div style="margin-left: 40%; margin-top: 10%; width: 320px; height: 200px;">
    <form name='newPassword'>
      <h3 style='color:#4bae4e; margin-left:8%'>Please enter your Email below</h3>
      <md-input-container class="md-icon-float" style="margin-top: 0.03em;">
        <label>Email</label>
        <input ng-model="email" type="text" ng-required="true">
      </md-input-container>
      <md-button flex ng-disabled="newPassword.$invalid" ng-click="sendPassword(email)" class="md-raised md-primary md-hue-2" style='margin-left:35%; background:#4bae4e; color:white'>
        Submit
      </md-button>
    </form>
  <div>
    <h2  style='color:#4bae4e;' ng-if="showMessage">Please check your email!</h2>
    <h2  style='color:#4bae4e;' ng-if="showNullMessage">This email is not registered on Tango</h2>
</div>
    </div>
</div>
