	<div>
		<md-toolbar layout="row">
			<div class="md-toolbar-tools" layout-align-gt-sm="left"><b style='font-size:50px'>Tango</b></div>
		  <md-button flex='15'>Add Gig</md-button>
		  <md-button flex='15' ng-click="login($event)" ng-controller="loginCtrl"  ng-if="!loggedIn">Login</md-button>
      <md-button flex='15' ng-click="logout($event)" ng-controller="loginCtrl" ng-if="loggedIn">Logout</md-button>
      <md-button flex='15' ng-click="signup($event)" ng-controller="loginCtrl" ng-if="!loggedIn">Signup</md-button>
 		</md-toolbar>

		<div layout="row">
      <div ng-controller="categoryController">
  		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <h1 class="md-toolbar-tools">Categories</h1>
       	<md-list ng-repeat="category in categories">
  				<md-list-item>
  			    <p> <md-icon md-svg-src="{{category.iconLink}}" style='color:#00f'></md-icon>{{category.name}} </p>

  			    <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
  				</md-list-item>
       	</md-list>
  	  </md-sidenav>
      </div>
	  <div flex>
	  	<div layout="row">
	  		<h2 style='margin-left: 20px; color:green' flex='60'>ADD GIGS</h2>
	  		<div flex='40'>

	    	</div>
	  	</div>
      <div ng-controller="gigsCtrl">
      	<form name='addGigForm' method="POST" action="'https://voguepay.com/pay/" layout-margin>
			    <md-input-container  class="md-icon-float" style="margin-top: 0.03em;">
			      <label>Title</label>
			      <input ng-model="gig.title" type="text" ng-required="true">
			    </md-input-container>

			    <md-select placeholder="Category" ng-model="gig.category">
	        	<md-option ng-repeat="category in categories" value="{{category._id}}">{{category.name}}</md-option>
	      	</md-select>

			    <md-input-container  class="md-icon-float" style="margin-top: 0.03em;">
			      <label>Description</label>
			      <input ng-model="gig.description" type="text" ng-required="true">
			    </md-input-container>	
			   
			    <md-select placeholder="Duration" ng-model="gig.duration" ng-required="true">
	        	<md-option ng-repeat="duration in [1,2,3,4]" value="{{duration}}">{{duration}}</md-option>
	      	</md-select>		

	      	<md-button class="md-raised md-primary" ng-disabled="addGigForm.$invalid" ng-click="doAdd(gig)">Add</md-button>   		
	      </form>
      </div>
	  </div>
	</div>
	</div>