<md-bottom-sheet class='md-grid' style='position:fixed; bottom:0px'>
  <div layout='row' layout-align="center end">
    <div layout='column'>
      <div>
        <md-icon md-svg-src='app/assets/img/logout.svg' ng-if="loggedIn" style='width:50px; height:50px'></md-icon>
      </div>
      <div>
          <md-button ng-click="logout($event)" ng-controller="loginCtrl" ng-if="loggedIn" style='color:black; margin-left:-50px'>Logout [{{user.username}}]</md-button>
      </div>
    </div>

    <div layout='column' style='margin-left:50px'>
      <div>
        <md-icon md-svg-src='app/assets/img/face.svg' ng-if="loggedIn" style='width:50px; height:50px'></md-icon>
      </div>
      <div>
        <md-button ui-sref="profile({username: user.username})" ng-if="loggedIn" style='color:black; margin-left:-20px'>MY PROFILE</md-button>
      </div>
    </div>
  </div>
</md-bottom-sheet>